// PRIMITIVOS/CORES
// Escalas de Cinza
$cor-0: #ffffff;
$cor-50: #eff4f0;
$cor-200: #b3b3b3;
$cor-600: #808080;
$cor-800: #404040;
$cor-900: #1f1f1f;
$cor-1000: #000000;

// Cores da marca
$azul-celeste: #01a1fd;
$azul-violeta: #0046c7;
$azul-verdade: #0065D0;
$azul-ceu-vivido: #35c9ff;
$azul-nao-fotografico: #a4e4fe;

// Outras cores utilizadas
$harvest-gold: #D29619;
$persian-blue: #1932c8;
$cardinal-red: #c81932;