button {

    @mixin tamanho($largura, $altura, $margem: 0, $padding: 0) {
        width: $largura;
        height: $altura;
        margin: $margem;
        padding: $padding;
    };

    @mixin exibicao($direcao: row, $justificado, $alinhamento, $intervalo: 0) {
        display: flex;
        flex-direction: $direcao;
        justify-content: $justificado;
        align-items: $alinhamento;
        gap: $intervalo;
    };

    @mixin fontTexto($tamanho: 1rem, $peso: normal, $cor: rgb(0, 0, 0), $familia: ('Open-Sans', sans-serif), $espacamento, $altura) {
        font-size: $tamanho;
        font-weight: $peso;
        color: $cor;
        font-family: $familia;
        letter-spacing: $espacamento;
        line-height: $altura;

    };

    @mixin borda($espessura, $estilo: solid, $cor, $raio) {
        border-width: $espessura;
        border-style: $estilo;
        border-color: $cor;
        border-radius: $raio;
    };

    @include tamanho(
        100%, 
        4.4rem, 
        $padding: 0 1.2rem
    );

    @include exibicao(
        row, 
        center, 
        center, 
        0.8rem
    );

    @include fontTexto(
        1.6rem, 
        bold, 
        rgb(64, 64, 64), 
        $espacamento: 0.4px, 
        $altura: 2rem
    );

    @include borda(
        1px, 
        $cor: transparent, 
        $raio: 0.4rem
    );

    opacity: 1;
    background: rgb(0, 70, 192);
    cursor: pointer;
    transition: all 0.3s ease 0s;

    &:hover {
        background: rgb(19, 129, 226);
    }
    &:active {
        background: rgb(38, 98, 201);
    }
}