@mixin fontTexto($tamanho: 1rem, $peso: normal, $cor: rgb(0, 0, 0), $familia, $espacamento: 0, $altura) {
    font-size: $tamanho;
    font-weight: $peso;
    color: $cor;
    font-family: $familia;
    letter-spacing: $espacamento;
    line-height: $altura;

};

$fontFamilia: 'Porto Roobert', sans-serif;

h1 {
    @include fontTexto(3.6rem, bold, rgb(31, 31, 31), $fontFamilia, $altura: 4rem);
    display: block;
}

p {
    @include fontTexto(1.6rem, 400, rgb(64, 64, 64), $fontFamilia, $altura: 2.4rem );
    display: block;
}

@media (min-width: 1224px) { 
    h1 {
        font-size: 4.8rem;
        line-height: 5.2rem;
    }

    p {
        font-size: 2rem;
        line-height: 2.8rem;
    }
}
