/* :root {
    --azul-porto: #01A1FD;
    --azul-escuro-porto: #0046C7;
    --branco-porto: #EFF4F0;
    --preto-porto: #000000;

    --azul-porto-seguro: #0065D0;
    --azul-claro-porto-seguro: #35C9FF;
    --azul-muito-claro-porto-seguro: #A4E4FE;
} */


.artic-atividades {
    padding: 0px 4px 23px 4px;

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    gap: 10px;
}

.tit-atividade {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 120px;

    color: var(--preto-porto);
    font-family: 'PortoRoobert-Medium';
    font-size: 14px;
    
    border-bottom: 1px solid var(--preto-porto);
}