@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@mixin tamanho($largura, $altura, $margem: 0, $padding: 0) {
    width: $largura;
    height: $altura;
    margin: $margem;
    padding: $padding;
}

@mixin exibicao($direcao: row, $justificado, $alinhamento, $intervalo: 0) {
    display: flex;
    flex-direction: $direcao;
    justify-content: $justificado;
    align-items: $alinhamento;
    gap: $intervalo;
}

@mixin fontTexto($tamanho, $peso, $cor, $familia, $espacamento, $altura) {
    font-size: $tamanho;
    font-weight: $peso;
    color: $cor;
    font-family: $familia;
    letter-spacing: $espacamento;
    line-height: $altura;
}

$fonte-porto: "Porto Roobert",
sans-serif !global;
$fonte-os: "Open-Sans",
sans-serif !global;

@mixin fullCenter() {@include exibicao(row, center, center, 0)}
@mixin bottomCenter() {@include exibicao(row, center, end, 0)}
@mixin centerLeft() {@include exibicao(row, left, center, 0)}
