.btn-container {
    width: 226px;
    height: 28px;
    padding: 8px 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    color: var(--preto);
    font-family: var(--porto-font);
    text-decoration: none;

    border-radius: 2px;
    background: var(--omcorp-cor-secundaria);
    filter: brightness(80%);
    opacity: .5;
}

.btn-container:hover {
    filter: brightness(100%);
    color: var(--branco);
    background: var(--portoseguro-cor-secundaria);
    opacity: 1;
}


