@import '../Primitivos/Cores/EscalasDeCinza.scss';
@import '../Primitivos/Cores/Marca.scss';

// TOKENS
// Cores de borda
$cl-brd-primaria: $cl-full !global;
$cl-brd-secundaria: $cl-bigg !global;
$cl-brd-terciaria: $cl-half !global;
$cl-brd-inversa: $cl-minn !global;
$cl-brd-marca: $cl-azl-verdad !global;
$cl-brd-btn: $cl-maxx !global;