
.card {

    display: flex;
    // padding: 0 10%;
    gap: 1.6rem;
    justify-content: center;
    align-items: center;
    // border: 1px solid #f00;
    background: #D1EFFE;

    .conteudoCard {
        &:first-child {
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 50%;

            & p {
                width: 90%;
            }
        }

        &:last-child {
            & img {
                height: 100%;
                width: 100%;
            }
        }

    }
}
