#cabecalho {
    height: 8.5vh;
    padding-left: 30px;
    padding-right: 50px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;

    color: #5f5f5f;
    font-size: 1.4rem;
    font-family: 'PortoRoobert-Medium';
    
    background: #fff;
    border-bottom: 1px solid var(--branco-porto);
}

#pages {
    display: flex;
    align-items: center;
    gap: 50px;
}

.logo-porto {
    width: 10rem;
}

/* PAGE LINK */
.page-link {
    text-decoration: none;
    color: #5f5f5f;
}

.page-link:hover {
    color: var(--azul-escuro-porto);
}
/* ----- */

#user-stats {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 28px;

    color: var(--azul-escuro-porto);
}

#life-stat, #point-stat {
    display: flex;
    align-items: center;
    gap: 8px;

    font-size: 1.8rem;
    font-family: 'PortoRoobert-SemiBold';
}
