#cabecalho {
    $posicao: fixed;
    $comprimento: 100%;
    $altura: 80px;
    
    $corFundo: #fff;
    $corPorto: #0046c7;
    $corPortoSeguro: #0064ff;
    
    $borda: 1px solid rgba(0, 0, 0, 0.2);


    position: $posicao;
    width: $comprimento;
    height: $altura;

    background: $corFundo; 

    border-bottom: $borda;

    padding: 27.5px 25px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoPorto {
        height: 100%;
        display: flex;
    }



}
