* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html { 
    font-size: 62.5%; 
}

body {
    overflow-x: hidden;
    width: 100vw;
}

:root {
    --omcorp-cor-principal: #282D37;
    --omcorp-cor-secundaria: #F5F5F5;
    
    --branco: #ffffff;
    --preto: #000000;

    --portoseguro-cor-principal: #01A1FD;
    --portoseguro-cor-secundaria: #0046C7;
    --portoseguro-cor-terciaria: #0065D0;
    --portoseguro-cor-clara: #35C9FF;
    --portoseguro-cor-muitoclara: #A4E4FE;

    --porto-font: "PortoRoobert-Medium";
    --porto-font-bold: "PortoRoobert-Bold";
}

@font-face {
    font-family: "PortoRoobert-Medium";
    src: url("./fonts/PortoRoobert-Medium.otf");
}

@font-face {
    font-family: "PortoRoobert-Semibold";
    src: url("./fonts/PortoRoobert-SemiBold.otf");
}

@font-face {
    font-family: "PortoRoobert-Bold";
    src: url("./fonts/PortoRoobert-Bold.otf");
}

@font-face {
    font-family: "icomoon";
    src: url("./fonts/icomoon.ttf");
}
